
.heading{
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0 1.5rem 0;
}
.projectcontainer{
    display: flex;
    justify-content: space-around;
}
.projectboundary{
    max-height: 100vh;
    padding: 1rem;
    width: 23vw;
}
.projectimg img{
    height: 45.5vh;
    width: 18vw;
    background-size: contain;
}
.projectdata{
    padding: 0.5rem 0;
}
.projectdata h3{
    font-size: 1.2rem;
    margin: 0.2rem 0 0.8rem 0;
    letter-spacing: 0.175rem;
}
.projectdata p{
    letter-spacing: 0.08rem;
    margin-bottom: 1.2rem;

}
.btn button{
    margin-right: 1rem;
    padding: 8px 15px;
    font-size: 0.9rem;
    border-radius: 3rem;
    background: var(--main-color);
    border: none;
    font-weight: 900;
    cursor: pointer;
}
.btn button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.projectboundary:hover{
    color: var(--text-color);
    transform: scale(1.02);
    box-shadow: 0 0 25px var(--main-color);
    /* background-color: var(--main-color); */
    transition: 0.3s ease-in-out;
}


@media screen and (max-width: 650px) {
    .project{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .heading {
        font-size: 3rem;
    }
    .projectcontainer{
        flex-direction: column;
    }
    .projectboundary {
        min-height: 60vh;
        min-width: 100vw;
        margin-bottom: 5rem;
        padding: 0 2px;
    }
    .projectimg{
        width: 100%;
    }
    .projectimg img {
        height: 60vh;
        padding: 0 5vw;
        min-width: 100vw;
    }
    .projectdata{
        padding: 0 4vw;
    }
    .projectdata h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .projectdata p {
        font-size: 1.6rem;
    }
    .btn{
        padding: 0 5vw;
    }

    .btn button {
        margin-right: 0.8rem;
        padding: 10px 15px;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    .project{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .heading {
        font-size: 4rem;
        letter-spacing: 0.3rem;
    }
    .projectcontainer{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .projectboundary {
        height: 60vh;
        width: 48vw;
        margin-bottom: 4rem;
    }
    .projectimg{
        max-width: 50vw;
        flex-wrap: wrap;
    }

    .projectimg img {
        height: 40vh;
        width: 40vw;
    }
    .projectdata{
        padding: 0 4vw;
    }
    .projectdata h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .projectdata p {
        font-size: 1.8rem;
    }
    .btn{
        padding: 0 5vw;
    }

    .btn button {
        margin-right: 0.8rem;
        padding: 10px 15px;
        font-size: 1.5rem;
    }
}